<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Ciudad</title>
<head th:replace="layout/layout :: head">
<meta charset="UTF-8"></meta>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/ciudad.js}"></script>

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container">
		<form th:action="@{/ciudad/registrar}" method="post"
			th:object="${ciudad}">
			<br><br/> 
			<div class="form-group">
				<label for="idCiudad">ID:</label> 
				<input type="text"	th:field="*{idCiudad}"></input>
              <!-- Nombre -->
				<div class="form-group">
				<label for="nameCiudad">Nombre:</label> 
				<input type="text"	th:field="*{nameCiudad}"
				class="form-control" id="nameCiudad" onchange="javascript:this.value=this.value.toUpperCase();"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('nameCiudad')}"
				th:errors="*{nameCiudad}"></div>				
				</div>
				<!-- Combo Pais-->
				<div class="form-group">
				<label for="pais">Pais:</label> 
					<select class="form-control" th:field="*{pais.idPais}">
						<option th:each="c: ${listaPaises}" th:value="${c.idPais}" 
						th:text="${c.namePais}" 
						th:selected="(${c.idPais} == *{pais.idPais})"></option>
					</select>
				</div>
				 
			
			</div>		
			<button type ="submit" class="btn btn-success">Aceptar</button>
			<a href="/ciudad/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
