<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title> Pais </title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/pais.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/pais/registrar}" method="post"
			th:object="${pais}">
				
			<div class="form-group">
				<label for="idPais">ID:</label> 
				<input type="text"	th:field="*{idPais}"></input>
              <!-- Nombre -->
				<div class="form-group">
				<label for="namePais">Nombre:</label> 
				<input type="text"	th:field="*{namePais}"
				class="form-control" id="namePais" onchange="javascript:this.value=this.value.toUpperCase();"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('namePais')}"
				th:errors="*{namePais}"></div>				
				</div>
			</div>		
			<button type ="submit" class="btn btn-success">Aceptar</button>
			<a href="/pais/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
