<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Pais</title>
<head th:replace="layout/layout :: head">

</head>
<body>
	<div th:replace="layout/layout :: header"></div>
	<div class="container">
		<form th:action="@{/pais/registrar}" method="post"
			th:object="${pais}">
				
			<div class="form-group">
				<label for="idPais">ID:</label> 
				<input type="text"	th:field="*{idPais}"></input>
              <!-- Nombre -->
				<div class="form-group">
				<label for="namePais">Nombre:</label> 
				<input type="text"	th:field="*{namePais}"
				class="form-control" id="namePais" onchange="javascript:this.value=this.value.toUpperCase();"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('namePais')}"
				th:errors="*{namePais}"></div>				
				</div>
			</div>		
			<button type ="submit" class="btn btn-success">Aceptar</button>
			<a href="/pais/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="layout/layout :: footer"></div>
</body>
</html>
