<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Crear Password</title>
<head th:replace="layout/layout :: head">

</head>
<body>
	<div class="container">
		<form th:action="@{/cuenta/irRegistrar}" method="post"
			th:object="${user}">
				
			<div class="form-group">
              <!-- Nombre -->
				<div class="form-group">
				<label for="password">Password:</label> 
				<input type="text"	th:field="*{password}"
				class="form-control" id="password"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}"></div>				
				</div>
			</div>		
			<button type ="submit" class="btn btn-success">Aceptar</button>
			<a href="/login" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="layout/layout :: footer"></div>
</body>
</html>
