<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>Reserva</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/reserva.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/reserva/registrar}" method="post"
			th:object="${reserva}">
				
			<div class="form-group">
				<label for="idReserva">ID:</label> 
				<input type="text"	th:field="*{idReserva}"></input>
             	
             	<!-- Usuario -->				
				<div class="form-group">
				<label for="usuario">Usuario:</label> 
					<select class="form-control" th:field="*{usuario.idUsuario}">
						<option th:each="c: ${listaUsuarios}" th:value="${c.idUsuario}" 
						th:text="${c.nameUsuario}" 
						th:selected="(${c.idUsuario} == *{usuario.idUsuario})"></option>
					</select>
				</div>						
				
				<!-- Fecha Reserva -->
				<div class="form-group">
				<label for="dayReserva">Fecha de reserva:</label> 
				<input type="date"	th:field="*{dayReserva}"
				class="form-control" id="dayReserva"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('dayReserva')}"
				th:errors="*{dayReserva}"></div>		
				</div>
				
				<!-- Ciudad -->
				<div class="form-group">
				<label for="ciudad">Ciudad:</label> 
					<select class="form-control" th:field="*{ciudad.idCiudad}">
						<option th:each="c: ${listaCiudades}" th:value="${c.idCiudad}" 
						th:text="${c.nameCiudad}" 
						th:selected="(${c.idCiudad} == *{ciudad.idCiudad})"></option>
					</select>
				</div>
				
				<!-- Fecha Llegada -->
				<div class="form-group">
				<label for="dayLlegada">Fecha de llegada:</label> 
				<input type="date"	th:field="*{dayLlegada}"
				class="form-control" id="dayLlegada"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('dayLlegada')}"
				th:errors="*{dayLlegada}"></div>		
				</div>
				
				<!-- Flag Anulado-->
				<div class="form-group">
				<label for="flagAnulado">Anulado:</label> 
				<input type="text"	th:field="*{flagAnulado}"
				class="form-control" id="flagAnulado"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('flagAnulado')}"
				th:errors="*{flagAnulado}"></div>				
				</div>
				
				<!-- Fecha Vencimiento -->
				<div class="form-group">
				<label for="dayVencimiento">Fecha de vencimiento:</label> 
				<input type="date"	th:field="*{dayVencimiento}"
				class="form-control" id="dayVencimiento"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('dayVencimiento')}"
				th:errors="*{dayVencimiento}"></div>		
				</div>
			
			</div>		
			<button type ="submit" class="btn btn-success">Aceptar</button>
			<a href="/reserva/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
