<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Ciudades</title>
<head th:replace="layout/layout :: head">
<meta charset="UTF-8"></meta>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>

<body>
	<div th:replace="layout/layout :: header"></div>

	<div class="container">
	
	<form th:action="@{/ciudad/ubuscar/}" method="get">
					<div class="row" >
						<div class="form-group col-md-3">
							<input id="nameCiudad" type="text" class="form-control"
								name="nameCiudad" placeholder="Buscar una Ciudad" >
	
						</div>
						<div>
						<button type="submit" class="btn btn-success">
								<span class="glyphicon glyphicon-search"></span>
						</button>
						</div>
					</div>
				</form>
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">				
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CÓDIGO</th>
								<th class="text-center">NOMBRE</th>
								<th class="text-center">PAÍS</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listaCiudades}">
								<td th:text="${p.idCiudad}"></td>
								<td th:text="${p.nameCiudad}"></td>
								<td th:text="${p.pais.namePais}"></td>
							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="layout/layout :: footer"></div>

</body>
</html>
