<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Usuario</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/usuario.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/usuario/registrar}" method="post"
			th:object="${usuario}">
				
			<div class="form-group">
				<label for="idUsuario">ID:</label> 
				<input type="text"	th:field="*{idUsuario}"></input>
              <!-- Nombre -->
				<div class="form-group">
				<label for="nameUsuario">Nombre:</label> 
				<input type="text"	th:field="*{nameUsuario}"
				class="form-control" id="nameUsuario"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('nameUsuario')}"
				th:errors="*{nameUsuario}"></div>				
				</div>
				<!-- Apellido Paterno -->
				<div class="form-group">
				<label for="nameApPaterno">Apellido Paterno:</label> 
				<input type="text"	th:field="*{nameApPaterno}"
				class="form-control" id="nameApPaterno"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('nameApPaterno')}"
				th:errors="*{nameApPaterno}"></div>		
				</div>
				<!-- Apellido Materno -->
				<div class="form-group">
				<label for="nameApMaterno">Apellido Materno:</label> 
				<input type="text"	th:field="*{nameApMaterno}"
				class="form-control" id="quantityStock"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('nameApMaterno')}"
				th:errors="*{nameApMaterno}"></div>				
				</div>
				<!-- idDocumento -->
				<div class="form-group">
				<label for="idDocumento">Documento:</label> 
				<input type="text"	th:field="*{idDocumento}"
				class="form-control" id="idDocumento"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('idDocumento')}"
				th:errors="*{idDocumento}"></div>				
				</div>
				<!-- phone -->
				<div class="form-group">
				<label for="phone"> Celular:</label> 
				<input type="text"	th:field="*{phone}"
				class="form-control" id="phone"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('phone')}"
				th:errors="*{phone}"></div>				
				</div>
				<!-- email -->
				<div class="form-group">
				<label for="email"> Email:</label> 
				<input type="text"	th:field="*{email}"
				class="form-control" id="email"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}"></div>				
				</div>
				<!-- password -->
				<div class="form-group">
				<label for="password">Password:</label> 
				<input type="text"	th:field="*{password}"
				class="form-control" id="password"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}"></div>				
				</div>
				<!-- flagAdmin -->
				<div class="form-group">
				<label for="flagAdmin"> Admin:</label> 
				<input type="text"	th:field="*{flagAdmin}"
				class="form-control" id="flagAdmin"></input>
				<div class="alert alert-danger" 
				th:if="${#fields.hasErrors('flagAdmin')}"
				th:errors="*{flagAdmin}"></div>				
				</div>
			
			</div>		
			<button type ="submit" class="btn btn-primary">Aceptar</button>
			<a href="/usuario/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
